<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrisonEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OrisonEditor.Properties.Settings>
            <setting name="UndoLimit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LevelLimit" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="StartMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </OrisonEditor.Properties.Settings>
    </userSettings>
</configuration>